number_1.xyz
number_2.xyz
number_3.xyz
number_4.xyz
number_5.xyz
number_6.xyz
number_7.xyz
number_8.xyz
number_9.xyz
number_10.xyz
number_11.xyz
number_12.xyz
number_13.xyz
number_14.xyz
number_15.xyz
number_16.xyz
number_17.xyz
number_18.xyz
number_19.xyz
number_20.xyz
number_21.xyz
number_22.xyz
number_23.xyz
number_24.xyz
number_25.xyz
number_26.xyz
number_27.xyz
number_28.xyz
number_29.xyz
number_30.xyz
number_31.xyz
number_32.xyz
number_33.xyz
number_34.xyz
number_35.xyz
number_36.xyz
number_37.xyz
number_38.xyz
number_39.xyz
number_40.xyz
number_41.xyz
number_42.xyz
number_43.xyz
number_44.xyz
number_45.xyz
number_46.xyz
number_47.xyz
number_48.xyz
number_49.xyz
number_50.xyz
number_51.xyz
number_52.xyz
number_53.xyz
number_54.xyz
number_55.xyz
number_56.xyz
number_57.xyz
number_58.xyz
number_59.xyz
number_60.xyz
number_61.xyz
number_62.xyz
number_63.xyz
number_64.xyz
number_65.xyz
number_66.xyz
number_67.xyz
number_68.xyz
number_69.xyz
number_70.xyz
number_71.xyz
number_72.xyz
number_73.xyz
number_74.xyz
number_75.xyz
number_76.xyz
number_77.xyz
number_78.xyz
number_79.xyz
number_80.xyz
number_81.xyz
number_82.xyz
number_83.xyz
number_84.xyz
number_85.xyz
number_86.xyz
number_87.xyz
number_88.xyz
number_89.xyz
number_90.xyz
number_91.xyz
number_92.xyz
number_93.xyz
number_94.xyz
number_95.xyz
number_96.xyz
number_97.xyz
number_98.xyz
number_99.xyz
number_100.xyz
number_101.xyz
number_102.xyz
number_103.xyz
number_104.xyz
number_105.xyz
number_106.xyz
number_107.xyz
number_108.xyz
number_109.xyz
number_110.xyz
number_111.xyz
number_112.xyz
number_113.xyz
number_114.xyz
number_115.xyz
number_116.xyz
number_0.xyz
number_1.xyz
number_117.xyz
number_118.xyz
number_119.xyz
number_120.xyz
number_121.xyz
number_122.xyz
number_123.xyz
number_124.xyz
number_125.xyz
number_126.xyz
number_127.xyz
number_128.xyz
number_129.xyz
number_130.xyz
number_131.xyz
number_132.xyz
number_133.xyz
number_134.xyz
number_135.xyz
number_136.xyz
number_137.xyz
number_138.xyz
number_139.xyz
number_140.xyz
number_141.xyz
number_142.xyz
number_143.xyz
number_144.xyz
number_145.xyz
number_146.xyz
number_147.xyz
number_148.xyz
number_149.xyz
number_150.xyz
number_151.xyz
number_152.xyz
number_153.xyz
number_154.xyz
number_155.xyz
number_156.xyz
number_157.xyz
number_158.xyz
number_159.xyz
number_160.xyz
number_161.xyz
number_162.xyz
number_163.xyz
number_164.xyz
number_165.xyz
number_166.xyz
number_167.xyz
number_168.xyz
number_169.xyz
number_170.xyz
number_171.xyz
number_172.xyz
number_173.xyz
number_174.xyz
number_175.xyz
number_176.xyz
number_177.xyz
number_178.xyz
number_179.xyz
number_180.xyz
number_181.xyz
number_182.xyz
number_183.xyz
number_184.xyz
number_185.xyz
number_186.xyz
number_187.xyz
number_188.xyz
number_189.xyz
number_190.xyz
number_191.xyz
number_192.xyz
number_193.xyz
number_194.xyz
number_195.xyz
number_196.xyz
number_197.xyz
number_198.xyz
number_199.xyz
number_200.xyz
number_201.xyz
number_202.xyz
number_203.xyz
number_204.xyz
number_205.xyz
number_206.xyz
number_207.xyz
number_208.xyz
number_209.xyz
number_210.xyz
number_211.xyz
number_212.xyz
number_213.xyz
number_214.xyz
number_215.xyz
number_216.xyz
number_217.xyz
number_218.xyz
number_219.xyz
number_220.xyz
number_221.xyz
number_222.xyz
number_223.xyz
number_224.xyz
number_225.xyz
number_226.xyz
number_227.xyz
number_228.xyz
number_229.xyz
number_230.xyz
number_231.xyz
number_232.xyz
number_233.xyz
number_234.xyz
number_235.xyz
number_236.xyz
number_237.xyz
number_238.xyz
number_239.xyz
number_240.xyz
number_241.xyz
number_242.xyz
number_243.xyz
number_244.xyz
number_245.xyz
number_246.xyz
number_247.xyz
number_248.xyz
number_249.xyz
number_250.xyz
number_251.xyz
number_252.xyz
number_253.xyz
number_254.xyz
number_255.xyz
number_256.xyz
number_257.xyz
number_258.xyz
number_259.xyz
number_260.xyz
number_261.xyz
number_262.xyz
number_263.xyz
number_264.xyz
number_265.xyz
number_266.xyz
number_267.xyz
number_268.xyz
number_269.xyz
number_270.xyz
number_271.xyz
number_272.xyz
number_273.xyz
number_274.xyz
number_275.xyz
number_276.xyz
number_277.xyz
number_278.xyz
number_279.xyz
number_280.xyz
number_281.xyz
number_282.xyz
number_283.xyz
number_284.xyz
number_285.xyz
number_286.xyz
number_287.xyz
number_288.xyz
number_289.xyz
number_290.xyz
number_291.xyz
number_292.xyz
number_293.xyz
number_294.xyz
number_295.xyz
number_296.xyz
number_297.xyz
number_298.xyz
profile_14-09_11;46 - Copy.txt:Zone.Identifier
profile_14-09_11;46.txt
profile_14-09_12;01 - Copy - Copy.txt:Zone.Identifier
profile_14-09_12;01.txt
profile_14-09_12;19 - Copy.txt:Zone.Identifier
profile_14-09_12;19.txt
profile_14-09_12;28.txt
check.data
final_strucutre.xyz
log.lammps
profile_parallel4.out
profile_serial.out
profile.out
radial_distributions.ipynb
structure.data
strucutre_1.xyz
strucutre_2.xyz
strucutre_3.xyz
strucutre_4.xyz
strucutre_5.xyz
strucutre_6.xyz
strucutre_7.xyz
strucutre_8.xyz
strucutre_9.xyz
strucutre_10.xyz
strucutre_11.xyz
strucutre_12.xyz
strucutre_13.xyz
strucutre_14.xyz
strucutre_15.xyz
strucutre_16.xyz
strucutre_17.xyz
strucutre_18.xyz
strucutre_19.xyz
strucutre_20.xyz
strucutre_21.xyz
strucutre_22.xyz
strucutre_23.xyz
strucutre_24.xyz
strucutre_25.xyz
strucutre_26.xyz
strucutre_27.xyz
strucutre_28.xyz
strucutre_29.xyz
strucutre_30.xyz
strucutre_31.xyz
strucutre_32.xyz
strucutre_33.xyz
strucutre_34.xyz
strucutre_35.xyz
strucutre_36.xyz
strucutre_37.xyz
strucutre_38.xyz
strucutre_39.xyz
strucutre_40.xyz
strucutre_41.xyz
strucutre_42.xyz
strucutre_43.xyz
strucutre_44.xyz
strucutre_45.xyz
strucutre_46.xyz
strucutre_47.xyz
strucutre_48.xyz
strucutre_49.xyz
strucutre_50.xyz
strucutre_51.xyz
strucutre_52.xyz
strucutre_53.xyz
strucutre_54.xyz
strucutre_55.xyz
strucutre_56.xyz
strucutre_57.xyz
strucutre_58.xyz
strucutre_59.xyz
strucutre_60.xyz
strucutre_61.xyz
strucutre_62.xyz
strucutre_63.xyz
strucutre_64.xyz
strucutre_65.xyz
strucutre_66.xyz
strucutre_67.xyz
strucutre_68.xyz
strucutre_69.xyz
strucutre_70.xyz
strucutre_71.xyz
strucutre_72.xyz
strucutre_73.xyz
strucutre_74.xyz
strucutre_75.xyz
strucutre_76.xyz
strucutre_77.xyz
strucutre_78.xyz
strucutre_79.xyz
strucutre_80.xyz
strucutre_81.xyz
strucutre_82.xyz
strucutre_83.xyz
strucutre_84.xyz
strucutre_85.xyz
strucutre_86.xyz
strucutre_87.xyz
strucutre_88.xyz
strucutre_89.xyz
strucutre_90.xyz
strucutre_91.xyz
strucutre_92.xyz
strucutre_93.xyz
strucutre_94.xyz
strucutre_95.xyz
strucutre_96.xyz
strucutre_97.xyz
strucutre_98.xyz
strucutre_99.xyz
strucutre_100.xyz
strucutre_101.xyz
strucutre_102.xyz
strucutre_103.xyz
strucutre_104.xyz
strucutre_105.xyz
strucutre_106.xyz
strucutre_107.xyz
strucutre_108.xyz
strucutre_109.xyz
strucutre_110.xyz
strucutre_111.xyz
strucutre_112.xyz
strucutre_113.xyz
strucutre_114.xyz
strucutre_115.xyz
strucutre_116.xyz
strucutre_117.xyz
strucutre_118.xyz
strucutre_119.xyz
strucutre_120.xyz
strucutre_121.xyz
strucutre_122.xyz
strucutre_123.xyz
strucutre_124.xyz
strucutre_125.xyz
strucutre_126.xyz
strucutre_127.xyz
strucutre_128.xyz
strucutre_129.xyz
strucutre_130.xyz
strucutre_131.xyz
strucutre_132.xyz
strucutre_133.xyz
strucutre_134.xyz
strucutre_135.xyz
strucutre_136.xyz
strucutre_137.xyz
strucutre_138.xyz
strucutre_139.xyz
strucutre_140.xyz
strucutre_141.xyz
strucutre_142.xyz
strucutre_143.xyz
strucutre_144.xyz
strucutre_145.xyz
strucutre_146.xyz
strucutre_147.xyz
strucutre_148.xyz
strucutre_149.xyz
strucutre_150.xyz
strucutre_151.xyz
strucutre_152.xyz
strucutre_153.xyz
strucutre_154.xyz
strucutre_155.xyz
strucutre_156.xyz
strucutre_157.xyz
strucutre_158.xyz
strucutre_159.xyz
strucutre_160.xyz
strucutre_161.xyz
strucutre_162.xyz
strucutre_163.xyz
strucutre_164.xyz
strucutre_165.xyz
strucutre_166.xyz
strucutre_167.xyz
strucutre_168.xyz
strucutre_169.xyz
strucutre_170.xyz
strucutre_171.xyz
strucutre_172.xyz
strucutre_173.xyz
strucutre_174.xyz
strucutre_175.xyz
strucutre_176.xyz
strucutre_177.xyz
strucutre_178.xyz
strucutre_179.xyz
strucutre_180.xyz
strucutre_181.xyz
strucutre_182.xyz
strucutre_183.xyz
strucutre_184.xyz
strucutre_185.xyz
strucutre_186.xyz
strucutre_187.xyz
strucutre_188.xyz
strucutre_189.xyz
strucutre_190.xyz
strucutre_191.xyz
strucutre_192.xyz
strucutre_193.xyz
strucutre_194.xyz
strucutre_195.xyz
strucutre_196.xyz
strucutre_197.xyz
strucutre_198.xyz
strucutre_199.xyz
strucutre_200.xyz
strucutre_201.xyz
strucutre_202.xyz
strucutre_203.xyz
strucutre_204.xyz
strucutre_205.xyz
strucutre_206.xyz
strucutre_207.xyz
strucutre_208.xyz
strucutre_209.xyz
strucutre_210.xyz
strucutre_211.xyz
strucutre_212.xyz
strucutre_213.xyz
strucutre_214.xyz
strucutre_215.xyz
strucutre_216.xyz
strucutre_217.xyz
strucutre_218.xyz
strucutre_219.xyz
strucutre_220.xyz
strucutre_221.xyz
strucutre_222.xyz
strucutre_223.xyz
strucutre_224.xyz
strucutre_225.xyz
strucutre_226.xyz
strucutre_227.xyz
strucutre_228.xyz
strucutre_229.xyz
strucutre_230.xyz
strucutre_231.xyz
strucutre_232.xyz
strucutre_233.xyz
strucutre_234.xyz
strucutre_235.xyz
strucutre_236.xyz
strucutre_237.xyz
strucutre_238.xyz
strucutre_239.xyz
strucutre_240.xyz
strucutre_241.xyz
strucutre_242.xyz
strucutre_243.xyz
strucutre_244.xyz
strucutre_245.xyz
strucutre_246.xyz
strucutre_247.xyz
strucutre_248.xyz
strucutre_249.xyz
strucutre_250.xyz
strucutre_251.xyz
strucutre_252.xyz
strucutre_253.xyz
strucutre_254.xyz
strucutre_255.xyz
strucutre_256.xyz
strucutre_257.xyz
strucutre_258.xyz
strucutre_259.xyz
strucutre_260.xyz
strucutre_261.xyz
strucutre_262.xyz
strucutre_263.xyz
strucutre_264.xyz
strucutre_265.xyz
strucutre_266.xyz
strucutre_267.xyz
strucutre_268.xyz
strucutre_269.xyz
strucutre_270.xyz
strucutre_271.xyz
strucutre_272.xyz
strucutre_273.xyz
strucutre_274.xyz
strucutre_275.xyz
strucutre_276.xyz
strucutre_277.xyz
strucutre_278.xyz
strucutre_279.xyz
strucutre_280.xyz
strucutre_281.xyz
strucutre_282.xyz
strucutre_283.xyz
strucutre_284.xyz
strucutre_285.xyz
strucutre_286.xyz
strucutre_287.xyz
strucutre_288.xyz
strucutre_289.xyz
strucutre_290.xyz
strucutre_291.xyz
strucutre_292.xyz
strucutre_293.xyz
strucutre_294.xyz
strucutre_295.xyz
strucutre_296.xyz
strucutre_297.xyz
strucutre_298.xyz
strucutre_299.xyz
strucutre_300.xyz
strucutre_301.xyz
strucutre_302.xyz
strucutre_303.xyz
strucutre_304.xyz
strucutre_305.xyz
strucutre_306.xyz
strucutre_307.xyz
strucutre_308.xyz
strucutre_309.xyz
strucutre_310.xyz
strucutre_311.xyz
strucutre_312.xyz
strucutre_313.xyz
strucutre_314.xyz
strucutre_315.xyz
strucutre_316.xyz
strucutre_317.xyz
strucutre_318.xyz
strucutre_319.xyz
strucutre_320.xyz
strucutre_321.xyz
strucutre_322.xyz
strucutre_323.xyz
strucutre_324.xyz
strucutre_325.xyz
strucutre_326.xyz
strucutre_327.xyz
strucutre_328.xyz
strucutre_329.xyz
strucutre_330.xyz
strucutre_331.xyz
strucutre_332.xyz
strucutre_333.xyz
strucutre_334.xyz
strucutre_335.xyz
strucutre_336.xyz
strucutre_337.xyz
strucutre_338.xyz
strucutre_339.xyz
strucutre_340.xyz
strucutre_341.xyz
strucutre_342.xyz
strucutre_343.xyz
strucutre_344.xyz
strucutre_345.xyz
strucutre_346.xyz
strucutre_347.xyz
strucutre_348.xyz
strucutre_349.xyz
strucutre_350.xyz
strucutre_351.xyz
strucutre_352.xyz
strucutre_353.xyz
strucutre_354.xyz
strucutre_355.xyz
strucutre_356.xyz
strucutre_357.xyz
strucutre_358.xyz
strucutre_359.xyz
strucutre_360.xyz
strucutre_361.xyz
strucutre_362.xyz
strucutre_363.xyz
strucutre_364.xyz
strucutre_365.xyz
strucutre_366.xyz
strucutre_367.xyz
strucutre_368.xyz
strucutre_369.xyz
strucutre_370.xyz
strucutre_371.xyz
strucutre_372.xyz
strucutre_373.xyz
strucutre_374.xyz
strucutre_375.xyz
strucutre_376.xyz
strucutre_377.xyz
strucutre_378.xyz
strucutre_379.xyz
strucutre_380.xyz
strucutre_381.xyz
strucutre_382.xyz
strucutre_383.xyz
strucutre_384.xyz
strucutre_385.xyz
strucutre_386.xyz
strucutre_387.xyz
strucutre_388.xyz
strucutre_389.xyz
strucutre_390.xyz
strucutre_391.xyz
strucutre_392.xyz
strucutre_393.xyz
strucutre_394.xyz
strucutre_395.xyz
strucutre_396.xyz
strucutre_397.xyz
strucutre_398.xyz
strucutre_399.xyz
strucutre_400.xyz
strucutre_401.xyz
strucutre_402.xyz
strucutre_403.xyz
strucutre_404.xyz
strucutre_405.xyz
strucutre_406.xyz
strucutre_407.xyz
strucutre_408.xyz
strucutre_409.xyz
strucutre_410.xyz
strucutre_411.xyz
strucutre_412.xyz
strucutre_413.xyz
strucutre_414.xyz
strucutre_415.xyz
strucutre_416.xyz
strucutre_417.xyz
strucutre_418.xyz
strucutre_419.xyz
strucutre_420.xyz
strucutre_421.xyz
strucutre_422.xyz
strucutre_423.xyz
strucutre_424.xyz
strucutre_425.xyz
strucutre_426.xyz
strucutre_427.xyz
strucutre_428.xyz
strucutre_429.xyz
strucutre_430.xyz
strucutre_431.xyz
strucutre_432.xyz
strucutre_433.xyz
strucutre_434.xyz
strucutre_435.xyz
strucutre_436.xyz
strucutre_437.xyz
strucutre_438.xyz
strucutre_439.xyz
strucutre_440.xyz
strucutre_441.xyz
strucutre_442.xyz
strucutre_443.xyz
strucutre_444.xyz
strucutre_445.xyz
strucutre_446.xyz
strucutre_447.xyz
strucutre_448.xyz
strucutre_449.xyz
strucutre_450.xyz
strucutre_451.xyz
strucutre_452.xyz
strucutre_453.xyz
strucutre_454.xyz
strucutre_455.xyz
strucutre_456.xyz
strucutre_457.xyz
strucutre_458.xyz
strucutre_459.xyz
strucutre_460.xyz
strucutre_461.xyz
strucutre_462.xyz
strucutre_463.xyz
strucutre_464.xyz
strucutre_465.xyz
strucutre_466.xyz
strucutre_467.xyz
strucutre_468.xyz
strucutre_469.xyz
strucutre_470.xyz
strucutre_471.xyz
strucutre_472.xyz
strucutre_473.xyz
strucutre_474.xyz
strucutre_475.xyz
strucutre_476.xyz
strucutre_477.xyz
strucutre_478.xyz
strucutre_479.xyz
strucutre_480.xyz
strucutre_481.xyz
strucutre_482.xyz
strucutre_483.xyz
strucutre_484.xyz
strucutre_485.xyz
strucutre_486.xyz
strucutre_487.xyz
strucutre_488.xyz
strucutre_489.xyz
strucutre_490.xyz
strucutre_491.xyz
strucutre_492.xyz
strucutre_493.xyz
strucutre_494.xyz
strucutre_495.xyz
strucutre_496.xyz
strucutre_497.xyz
strucutre_498.xyz
strucutre_499.xyz
strucutre_500.xyz
strucutre_501.xyz
strucutre_502.xyz
strucutre_503.xyz
strucutre_504.xyz
strucutre_505.xyz
strucutre_506.xyz
strucutre_507.xyz
strucutre_508.xyz
strucutre_509.xyz
strucutre_510.xyz
strucutre_511.xyz
strucutre_512.xyz
strucutre_513.xyz
strucutre_514.xyz
strucutre_515.xyz
strucutre_516.xyz
strucutre_517.xyz
strucutre_518.xyz
strucutre_519.xyz
strucutre_520.xyz
strucutre_521.xyz
strucutre_522.xyz
strucutre_523.xyz
strucutre_524.xyz
strucutre_525.xyz
strucutre_526.xyz
strucutre_527.xyz
strucutre_528.xyz
strucutre_529.xyz
strucutre_530.xyz
strucutre_531.xyz
strucutre_532.xyz
strucutre_533.xyz
strucutre_534.xyz
strucutre_535.xyz
strucutre_536.xyz
strucutre_537.xyz
strucutre_538.xyz
strucutre_539.xyz
strucutre_540.xyz
strucutre_541.xyz
strucutre_542.xyz
strucutre_543.xyz
strucutre_544.xyz
strucutre_545.xyz
strucutre_546.xyz
strucutre_547.xyz
strucutre_548.xyz
strucutre_549.xyz
strucutre_550.xyz
strucutre_551.xyz
strucutre_552.xyz
strucutre_553.xyz
strucutre_554.xyz
strucutre_555.xyz
strucutre_556.xyz
strucutre_557.xyz
strucutre_558.xyz
strucutre_559.xyz
strucutre_560.xyz
strucutre_561.xyz
strucutre_562.xyz
strucutre_563.xyz
strucutre_564.xyz
test.xyz
tool.ipynb
.vscode/launch.json
__pycache__/LAMMPS_interface.cpython-310.pyc
__pycache__/LAMMPS_interface.cpython-311.pyc
__pycache__/LAMMPS_interface.cpython-312.pyc
LAMMPS/amorphousSiO_1.data
LAMMPS/amorphousSiO_1.data:Zone.Identifier
LAMMPS/check.data
LAMMPS/check.data:Zone.Identifier
LAMMPS/dump.lammpstrj
LAMMPS/dump.xyz
LAMMPS/final_keep.xyz
LAMMPS/final_struc_convert.xyz
LAMMPS/final_struc_procedure.data
LAMMPS/finals.in
LAMMPS/gen_silica.in
LAMMPS/instruction - Copy.in:Zone.Identifier
LAMMPS/instruction.in
LAMMPS/lmp.out
LAMMPS/log.lammps
LAMMPS/structure.data
LAMMPS/yeet_2MR.xyz
LAMMPS/yeet_over.xyz
log.lammps
radial_distributions.ipynb
test.xyz
final_strucutre1.xyz
log.lammps
radial_distributions.ipynb
test.xyz
LAMMPS/final_keep - Copy.xyz:Zone.Identifier
LAMMPS/final_keep2.xyz
LAMMPS/final_keep3.xyz
LAMMPS/final_struc.data
